<ion-header>
    <ion-navbar color="white" #infoMeNav>
        <ion-title style="border: 1px solid #ccc">Acesso ao InfoMe</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <p text-center>
        <button ion-button color="primary" (click)="doLogin()">Acessar</button>
    </p>

</ion-content>