page-home {
  $grid-padding-width:         1px !default;
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  /* Stories */
  .story {
    white-space: nowrap;
    height: 105px
  }
  
  .story_scroll {
    display: inline-block;
    width: 70px;
    margin: 10px;
  }

  .story_img_bg {
    width: 70px;
    padding: 2px;
    border-radius: 50%;
    padding-bottom: 0;
    transition: all 1s;
    -webkit-transition: all 0.2s;
    background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%);
  }

  .story_img_bg:active {
    background: -webkit-linear-gradient(left top, #DD2352 0%, #F1642F 100%);
    transform: scale(1.1);
  }

  .story_img {
    width: 70px;
    border-radius: 50%;
  }

  .story_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px
  }

  .rating{
    display: inline-block;
    padding-left: 0px;
    vertical-align: -webkit-baseline-middle;
    li{
      padding: 5px 2px !important;
    }
  }
  
}
