<ion-header>
  <ion-navbar color="white">

    <ion-title style="border: 1px solid #ccc" (click)="scrollToTop()">InfoMe</ion-title>

    <ion-buttons end right>
      <button color="black" ion-button icon-only (click)="goMessages()">
        <ion-icon name="paper-plane"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div (swipe)="swipePage($event)">

    <!-- Cards -->
    <ion-card no-padding padding-bottom no-margin class="card" *ngFor="let feedHand of feedHands">

      <ion-row>
        <ion-col col-10>
          <ion-item>
            <ion-avatar item-left>
              <img src="http://ionicframework.com/dist/preview-app/www/assets/img/sarah-avatar.png.jpeg">
            </ion-avatar>
            <h4 style="font-weight: bold">{{feedHand.description}}</h4>
            <p>{{feedHand.date_create | date}}</p>

          </ion-item>
        </ion-col>
        <ion-col col-2>
          <button no-margin no-padding clear color="black" ion-button icon-only style="float: right; top: 15px" (click)="presentPostPopover()">
            <ion-icon name="more"></ion-icon>
        </button>
        </ion-col>
      </ion-row>

      <img src="http://ionicframework.com/dist/preview-app/www/assets/img/advance-card-bttf.png" (tap)="tapPhotoLike($event)">

      <p no-margin no-padding>
        <button clear ion-button icon-only (click)="likeButton()" class="like-btn">
          <ion-icon no-padding [name]="like_btn.icon_name" color="{{ like_btn.color }}" class="icon-space"></ion-icon>
        </button>
        <button clear ion-button icon-only>
          <ion-icon no-padding isActive="false" color="black" name="ios-text-outline" class="icon-space" style="font-weight: bold"></ion-icon>
        </button>
        <button clear ion-button icon-only>
          <ion-icon no-padding isActive="false" color="black" name="paper-plane" class="icon-space"></ion-icon>
        </button>
        <button no-margin no-padding clear color="black" ion-button icon-only style="float: right">
          <ion-icon name="ios-bookmark-outline"></ion-icon>
        </button>
        <rating [(ngModel)]="feedHand.numberHands" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"> </rating>
      </p>
      <p no-margin no-padding>
        <ion-note style="font-size: 12px; vertical-align: -webkit-baseline-middle;">
          11h ago
        </ion-note>
      </p>
    </ion-card>

  </div>
</ion-content>